.UCenter-bg {
  background-image: url(https://image.weilanwl.com/color2.0/index.jpg);
  background-size: cover;
  height: 700px;
  display: flex;
  justify-content: center;
  padding-top: 40px;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  align-items: center;
  color: #fff;
  font-weight: 300;
  text-shadow: 0 0 6px rgba(0,0,0,0.3);
}
.UCenter-bg text{
  opacity: 0.8;
}
.UCenter-bg image {
  width: 250px;
  height: 250px;
}

.UCenter-bg .animation-wave {
  position: absolute;
  bottom: 0;
}
